<div>
<p>Vera Videos</p>
<select title="Thumbnail size" ng-model="imageSize" ng-options="sizeChoice.name for sizeChoice in sizeChoices"></select>
<select ng-model="perPage" ng-options="perValue.name for perValue in perValues" ng-change="fixPages()"></select>
<button ng-click="updateLast()" ng-show="page()">Last {{perPage.value}}</button>
{{soFarFrom}} to {{soFarTo}} out of {{total}}
<button ng-click="updateNext()" ng-show="pagesLeft()">Next {{perPage.value}}</button><br>
Thumbnails: <input type="checkbox" ng-model="showThumbs">
Embedded videos: <input type="checkbox" ng-model="showEmbedded"
<br/>
<br>
<scope ng-if="showThumbs" ng-repeat="video in videos track by video.id.videoId" title = "{{video.snippet.description}}">
  <img ng-src="{{video.snippet.thumbnails.default.url}}" alt = "{{video.snippet.description}}" 
    height="{{imageSize.height}}" width="{{imageSize.width}}" style="float: left"
    ng-show="showDefault()" ng-click="setEmbedded(video.id.videoId)">
  <img ng-src="{{video.snippet.thumbnails.medium.url}}" alt = "{{video.snippet.description}}" 
    height="{{imageSize.height}}" width="{{imageSize.width}}"  style="float: left"
    ng-show="showMedium()" ng-click="setEmbedded(video.id.videoId)">
  <img ng-src="{{video.snippet.thumbnails.high.url}}" alt = "{{video.snippet.description}}" 
    height="{{imageSize.height}}" width="{{imageSize.width}}"  style="float: left"
    ng-show="showHigh()" ng-click="setEmbedded(video.id.videoId)">
</scope>

<div ng-if="showThumbs" ng-bind-html="trustedEmbedded"</div>
</div>
<scope ng-if="showEmbedded"  ng-repeat="video in videos track by video.id.videoId" title = "{{video.snippet.description}}">
  <div ng-data="trustedEmbeddedDefault" ng-bind-html="getTrustedEmbedded(video.id.videoId);trustedEmbeddedDefault" style="float: left" ng-show="showDefault()"</div>
  <div ng-data="trustedEmbeddedHigh" ng-bind-html="trustedEmbeddedHigh" style="float: left" ng-show="showHigh()"</div>
  <div ng-data="trustedEmbeddedMedium" ng-bind-html="trustedEmbeddedMedium" style="float: left" ng-show="showMedium()"</div>

